  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@300&display=swap');

  body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: grey;
  }

/* headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey
 }

 #logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
 }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 60px;
}
#logo {
    line-height: 5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/rugby_hero_image2.jpg') no-repeat center center;
}

@keyframes hero-zoom {
    from{ 
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

/*club on home page*/

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	flex: 1;
	max-width: 33%;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
    padding: 20px
}

.column h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}

.column p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 0;
}

#right_column {
    float: right;
    margin-top: 0;
}

#left_column {
    float: left;
}

#mid_column {
    margin: 0 auto
}

/* footer */

.footer-style {
    padding:40px 0;
    background-color:grey;
    color: white;
  }
  
  .footer-style ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-style li {
    padding:0 10px;
  }
  
  .footer-style ul a {
    color: white;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-style ul a:hover {
    color:pink;
  }
  
  .footer-style .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-style .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
  }

  .social > li {
    display: inline;
    color: white;
    opacity:0.75;
}
  .footer-style .social > a:hover {
    color:pink;
  }
  
  .footer-style .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  }