  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@300&display=swap');

  body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: grey;
  }

/* headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey
 }

 #logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
 }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 60px;
}
#logo {
    line-height: 5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* hero image */
#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: red;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/rugby_hero_image2.jpg') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    color: red;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

/*club on home page*/

.container {
	display: flex;
	justify-content: center;
}

.column {
    flex: 1;
    max-width: 33%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px
}

.column h2 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
}

.column p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0;
}

#right_column {
    float: right;
    margin-top: 0;
}

#left_column {
    float: left;
}

#mid_column {
    margin: 0 auto
}

/* How to get involved */

#involved-intro {
    
    color: red;
    font-size: 160%;
    margin: 20px auto;
    text-align: center;
    }

#intro {
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.5;
    max-width: 33%;
    text-align: center;
}

.container-involved {
    flex-wrap: wrap;
    justify-content: center;
    
}

    
#right_involved {
    float: right;
    margin-top: 0;
    
}
    
#left_involved {
    float: left;
}
    
#mid_involved {
    margin: 0 auto
}

/*involved images*/

.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container img {
    width: 33.3%;
    height: auto;
  }

/* footer */

.footer-style {
    height: 300px;
    padding: 0;
    background-color:grey;
    color: white;
    position: absolute;
    width: 99.9%;
    }
  
  .footer-style ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-style li {
    padding:0 10px;
  }
  
  .footer-style ul a {
    color: white;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-style ul a:hover {
    color:pink;
  }
  
  .footer-style .social {
    text-align:center;
    padding-bottom:25px;
    padding-top: 25px;
  }
  
  .footer-style .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
  }

  .social > li {
    display: inline;
    color: white;
    opacity:0.75;
}
  .footer-style .social > a:hover {
    color:pink;
  }
  
  .footer-style .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  }

  /* about page*/

  #about-test {
    padding: 1rem 0;
    margin-bottom: 30px;
    height: 300px;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
  }

  #testimonial {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:grey;
    background-color: bisque;
    margin-bottom:0;
  }
  
  /* programmes*/
#prog-image {
  padding: 1rem 0;
    margin-bottom: 30px;
    height: 865px;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
}

#prog-right-box {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: right;
    margin: 20px 150px;
}

#prog-left-box {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: left;
    margin: 20px 150px;
}

#prog-intro {
  margin: 50px auto;
    font-size: 18px;
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
}

/* coaches */
#coaches-image {
  padding: 1rem 0;
    margin-bottom: 30px;
    height: 1760px;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
}

#circle-container {
	    width: 300px;
	    height: 300px;
	    padding: 30px;
	    border-style: solid;
	    border-color: #ccc;
	    border-width: 1px;
	    border-radius: 50%;
	    margin: 0 auto;
	}
	

	#circle-cover-soc {
	    background: url('../images/soc (2).jpg') no-repeat center center;
	    height: 100%;
	    border-radius: 50%;
	}

  #circle-cover-fos {
    background: url('../images/fos.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-lf {
  background: url('../images/lf.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-lm {
  background: url('../images/lm.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-por {
  background: url('../images/por.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-sk {
  background: url('../images/sk.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

/*join form */

.form-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: grey;
}

#form-intro {
  margin: 50px auto;
    font-size: 18px;
    line-height: 1.5;
    max-width: 60%;
    text-align: center;
}

.form {
	width: 700px;
  padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
  float: left
}

#form-container {
  display: flex;
	justify-content: center;
  height: 1000px;
}

