  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@300&display=swap');

  body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: grey;
  }

/* headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: grey;
 }

 #logo {
    float: left;
    font-size: 280%;
    margin-left: 1vw;
    line-height: 0.5vh;
 }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0.1rem;
    line-height: 6vh;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 3vw;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1vh solid #3a3a3a;
}

.active {
    border-bottom: 10px solid #3a3a3a;
}

/* hero image */
#hero-outer {
    height: 45vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 60vh;
    width: 100%;
    background: url('../images/rugby_hero_image2.jpg') no-repeat center center;
}

#cover-text {
    font-size: 2vw;
    color: white;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4rem;

    width: 50vw;
    height: 20vh;
    
    padding-top: 8vw;
    margin-left: 0.5vw;
        

    bottom: 60%;
    left: 0.5vw;

    position: absolute;

}

/*club on home page*/

.container {
	display: flex;
	width: 100%;
}

.column {
    flex: 1;
    width: 33%;
    padding: 0 1vw;
    box-sizing: border-box;
    text-align: center;
    padding: 2vw
}

.column h2 {
	font-size: 2.2vh;
	font-weight: bold;
	margin-top: 0;
}

.column p {
	font-size: 1.8vh;
	line-height: 1.5;
	margin-bottom: 0;
}

.right_age {
  position: relative;
  float: right;
  margin: 2vh 15vh;
}

.left_who {
  position: relative;
  float: left;
  margin: 2vh 15vh;
}

.mid_what {
    margin: 0 auto;
    position: relative;
    
}

/* How to get involved */

#involved-intro {
    
    color: red;
    font-size: 160%;
    margin: 2vh auto;
    text-align: center;
    
    }

.intro {
    margin: 5vh auto;

    line-height: 1.5;
    max-width: 90%;
    text-align: center;
}

.container-involved {
    flex-wrap: wrap;
    justify-content: center;
    
}
    
#right_involved {
    float: right;
    margin-top: 0;
}
    
#left_involved {
    float: left;
}
    
#mid_involved {
    margin: 0 auto
}

/*involved images*/

.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container img {
    width: 33.3%;
    height: auto;
  }

/* footer */

.footer-style {
    height: 30vh;
    padding: 0;
    background-color:grey;
    color: white;
    position: absolute;
    width: 99.9%;
    }
  
  .footer-style ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size: 1.8vh;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-style li {
    padding:0 1vh;
  }
  
  .footer-style ul a {
    color: white;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-style ul a:hover {
    color:pink;
  }
  
  .footer-style .social {
    text-align:center;
    padding-bottom:2.5vh;
    padding-top: 2.5vh;
  }
  
  .footer-style .social > a {
    font-size:2.4vh;
    width:4vw;
    height:4vh;
    line-height:4vh;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 0.8vh;
  }

  .social > li {
    display: inline;
    color: white;
    opacity:0.75;
}
  .footer-style .social > a:hover {
    color:pink;
  }
  
  .footer-style .copyright {
    margin-top:1.5vh;
    text-align:center;
    font-size:1.3vh;
    color:#ffffff;
    margin-bottom:0;
  }

  /* about page*/

  #about-test {
    padding: 1rem 0;
    margin-bottom: 3vh;
    height: 30vh;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
  }

  #mid_about {
    margin: 0 auto
}

  #right_column {
    float: right;
    margin-top: 0;
    background-color: bisque;
}
    
#left_column {
    float: left;
    background-color: bisque;
}

#mid_column {
  margin: 0 auto
}
    
 #testimonial {
    margin-top:1.5vh;
    text-align:center;
    font-size:1.3vh;
    color:grey;
    background-color: bisque;
    margin-bottom:0;
  }

#right_test {
    float: right;
    margin-top: 0;
  
}
    
#left_test {
    float: left;
}

#mid_test {
  margin: 0 auto
}
  
  /* programmes*/
#prog-image {
  padding: 1rem 0;
    margin-bottom: 3vh;
    height: 100vh;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
}

#prog-right-box {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: right;
    margin: 2vh 15vh;
}

#prog-left-box {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: left;
    margin: 2vh 15vh;
}

#prog-right-box1 {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: right;
    margin: 2vh 15vh;
}

#prog-left-box1 {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: left;
    margin: 2vh 15vh;
}

#prog-right-box2 {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: right;
    margin: 2vh 15vh;
}

#prog-left-box2 {
	background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    float: left;
    margin: 2vh 15vh;
}

.prog-intro {
  margin: 5vw auto;
    font-size: 1.8vh;
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
}

/* coaches */
#coaches-image {
  padding: 1rem 0;
    margin-bottom: 3vh;
    height: 240vh;
    background: url('../images/rugbyball.jpg') center center / cover no-repeat fixed;
}
.coach-intro {
  margin: 5vh auto;
    font-size: 1.8vh;
    line-height: 1.5;
    max-width: 60%;
    text-align: center;
}
.circle-container {
  width: 30vw;
  max-width: 300px;
  height: 30vw;
  max-height: 300px;
  padding: 3vw;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}
	
  #coach-right-box {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: right;
      margin: 2vh 15vh;
  }
  
  #coach-left-box {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: left;
      margin: 2vh 15vh;
  }
  #coach-right-box1 {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: right;
      margin: 2vh 15vh;
  }
  
  #coach-left-box1 {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: left;
      margin: 2vh 15vh;
  }
  #coach-right-box2 {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: right;
      margin: 2vh 15vh;
  }
  
  #coach-left-box2 {
    background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      float: left;
      margin: 2vh 15vh;
  }

	#circle-cover-soc {
	    background: url('../images/soc (2).jpg') no-repeat center center;
	    height: 100%;
	    border-radius: 50%;
	}

  #circle-cover-fos {
    background: url('../images/fos.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-lf {
  background: url('../images/lf.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-lm {
  background: url('../images/lm.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-por {
  background: url('../images/por.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
#circle-cover-sk {
  background: url('../images/sk.jpg') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

/*join form */

.form-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: grey;
}

#form-intro {
  margin: 2vw auto;
    font-size: 1.8vh;
    line-height: 1.5;
    max-width: 60%;
    text-align: center;
}

.form {
	width: 70vw;
  padding: 2.5vh;
	border-radius: 0.8vh;
	margin: 1.5vh auto;
	background-color: white;
  float: left
}

#form-container {
  display: flex;
	justify-content: center;
  
}

.field-align {
  display: flex;
  width: 40%;
}

/* Media queries */
@media screen and (max-width: 1640px) {
  
  #prog-right-box, #prog-left-box, #prog-right-box1, #prog-left-box1, #prog-right-box2, #prog-left-box2 {
    float: none;
    margin: 1vh auto;
    max-width: 80vw;
  }
  #prog-image {
    height: auto;
  }

  #coach-right-box, #coach-left-box, #coach-right-box1, #coach-left-box1, #coach-right-box2, #coach-left-box2 {
    float: none;
    margin: 1vh auto;
    max-width: 80vw;
    border-bottom: 1vh;
  }

  #coaches-image {
    height: auto;
  }

  #circle-cover-soc, #circle-cover-fos, #circle-cover-lf, #circle-cover-lm, #circle-cover-por, #circle-cover-sk {
    float: none;
    background-size: 40vw;
  }

  #hero-image {
    height: 60vh;
    width: 100%;
    float: none;
    margin: 0vh auto;
  }

  #logo {
    font-size: 200%;
    margin-left: 0;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  #menu {
    font-size: 90%;
    text-align: center;
    line-height: 4vh;
  }
}

/* For medum screen sizes from 1300px wide and down */

@media screen and (max-width: 1300px) {
  #menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text {
    float: left;
  }

  #mid_column, #right_column, #left_column {
    float: none;
    margin: 1vh auto;
    max-width: 80vw;
  }

  .container {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .column {
    text-align: center;
    width: 90%;
  }

}